* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

.logo-mario {

    height: 200px;
    margin-left: 20px;
}

button {
    color: white;
    background-color: #C51111;
    border: none;
    border-radius: 3px;
    width: 153px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.mario-luigi {
    height: 350px;
}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 100px;
    justify-content: space-around
}

.caixa-principal {
    width: 46%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: white;
    font-size: 20px;
    width: 500px;

}

.link-whatsapp {
    height: 30px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}

.heard {
    display: flex;
    align-items: center;
    margin: 25px;
    gap: 25px;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

.heard img {
    height: 30px;
}

.heard a:hover {
    color: #C51111;
    font-size: 15px;
    transition: 1s ease-in-out
}

.menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 36%;
    left: -232px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
}

input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80f;
}

textarea {
    height: 100px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18D80f;
    padding-top: 10px;
}

.mascara-de-fundo {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

@media (max-width: 1100px) {

    p {
        display: none;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mario-luigi {
        width: 80vw;
        height: auto;
        margin-bottom: 150px;
    }

    .heard img {
        display: none;
    }

    .heard {
      margin: 25px;
      margin-right: 70px;
      font-size: 17px;
      display:flex;
      justify-content: center;
      
    }


}